@import url("./components/contact-panel.css");
@import url("./components/message-panel.css");
@import url("./components/api-link.css");
@import url("./components/author-info.css");
@import url("./components/github-link.css");
@import url("./components/toast.css");
/* 导入各组件 */

/* 两个卡片的总样式 */
.card {
  /* 这里的 flex 是为了竖着排里面的 h1, form, footer */
  display: flex;
  flex-direction: column;
  background-color: wheat;
  width: 350px;
  max-width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* 卡面标题 */
.card-header {
  text-align: center;
  margin-bottom: 20px;
}

/* 卡片页脚 */
.card-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}