* {
  /*全局设置*/
  box-sizing: border-box;
}

body {

  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  /* 这里的 flex 是为了竖着排里面的 h1, form, footer */
  display: flex;
  flex-direction: column;
  /* 卡片的具体样子 */
  background-color: wheat;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
}

.input-box {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /*字体跟随系统*/
  font-family: inherit;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #5eacffcf;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.card-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

#message {
  width: 100%;
  height: 100px;
  resize: vertical;
  vertical-align: top;
  min-height: 50px;
}