* {
  /*全局设置*/
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
}

@media(min-width:800px) {
  .main-container {
    display: block;
    position: relative;
    width: 350px;
    height: auto;
  }

  #contact-panel {
    position: relative;
    z-index: 10;
    background-color: wheat;
  }

  #message-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;

    transform: translateX(60px) scale(0.95);
    cursor: pointer;
    opacity: 0.9;
  }

  #message-panel:hover {
    transform: translateX(70px) scale(0.96);
  }

  #message-panel.open {
    transform: translateX(105%) scale(1);
    opacity: 1;
    cursor: default;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}

.card {
  /* 这里的 flex 是为了竖着排里面的 h1, form, footer */
  display: flex;
  flex-direction: column;
  /* 卡片的具体样子 */
  background-color: wheat;
  width: 350px;
  max-width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
}

.input-box {
  width: 200px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /*字体跟随系统*/
  font-family: inherit;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #5eacffcf;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #4a90e2;
}

.card-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

#message {
  width: 100%;
  height: 100px;
  resize: vertical;
  vertical-align: top;
  min-height: 50px;
  margin-left: 0px;
}

/*留言板*/
.scroll-area {
  margin-top: 10px;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px;
}

.scroll-area::-webkit-scrollbar {
  width: 6px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 6px;
  /* border-bottom: 1px dashed #eee; */
  padding-bottom: 4px;
}

.msg-content {
  color: #333;
  line-height: 1.5;
  word-break: break-all;
}

.msg-card {
  padding-bottom: 5px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 5px;
}