.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.form-row label {
  font-weight: bold;
  color: #555;
  width: 60px;
  text-align: right;
  margin-right: 12px;
  font-size: 15px;
}

.input-box {
  flex: 1;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;

  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  font-family: inherit;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  outline: none;
}

.input-box:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 4px rgba(74, 144, 226, 0.1);
  background-color: #fff;
}

/* 留言输入框 */
textarea.input-box {
  border-radius: 15px;
  padding: 12px 15px;
  height: 100px;
  line-height: 1.5;
  resize: vertical;
}

.input-box::placeholder {
  color: #bbb;
  font-size: 13px;
}

#message {
  width: 100%;
  height: 100px;
  resize: vertical;
  vertical-align: top;
  min-height: 50px;
  margin-left: 0px;
}

/* “发送消息”按钮 */
.btn {
  width: 100%;
  padding: 12px 20px;
  margin-top: 15px;
  background: linear-gradient(135deg, #6abaff 0%, #4a90e2 100%);

  color: white;
  border: none;

  /* 胶囊形状*/
  border-radius: 50px;

  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;

  box-shadow: 0 5px 15px rgba(74, 144, 226, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.btn:hover {
  background-color: #4a90e2;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}