/* GitHub 按钮样式*/
.github-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;

  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

/* 鼠标悬停特效 */
.github-link:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  color: #000;
}

.github-link img {
  width: 20px;
  height: 20px;
}